<footer class="bg-dark text-center py-3 mt-auto invisible">
  &copy; <%= new Date().getFullYear() %> feito com <i class="bi bi-heart-fill text-danger"></i> por <a class="text-danger" href="https://wa.me/+5561981323772">CoddeX</a>.
</footer>

<script src="/script/navbar.js"></script>
</body>
</html>