  </div>

  <footer class="text-center py-3 mt-auto">
    <small>
      &copy; <%= new Date().getFullYear() %> · feito com
      <i class="bi bi-heart-fill text-danger"></i> por
      <a href="https://wa.me/+5561981323772">CoddeX Developer</a>
    </small>
  </footer>
</body>

</html>
