<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/styles/admin.css">
    <link rel="shortcut icon" href="/assets/admin1.png" type="image/x-icon">
</head>

<body style="background-color: #e5e5e5;">
    <form action="/auth/access" method="post">
        <img src="/assets/admin1.png" class="logo">
        <p>Faça login na sua conta</p>
        <input type="text" name="usuario" class="usuario" id="usuario" placeholder="Usuário" required>
        <input type="password" name="senha" class="senha" id="senha" placeholder="Senha" required>
        <button type="submit">Entrar</button>
    </form>
</body>

</html>