<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Envio Bem-Sucedido</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-dark">
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="text-center">
            <img src="/assets/admin1.png" alt="Sucesso" class="img-fluid mb-4" style="max-width: 200px;">
            <h1 class="mb-3 text-success">Salvo com Sucesso!</h1>
            <p class="lead text-white">As atualizações foram enviados para o site</p>
            <a href="/admin/dashboard/editPage" class="btn btn-success">Voltar</a>
            <a href="/" target="_blank" class="btn btn-primary">Visitar página</a>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>