<%- include('fragments/header') %>

  <div class="container text-center my-5">
    
    <div class="alert alert-warning py-4" role="alert">
      <h4 class="alert-heading mb-3">Oops!</h4>
      <p class="mb-4">Parece que não temos nenhuma notificação no momento. Volte mais tarde!</p>
      <a href="/admin/dashboard" class="btn btn-primary">Voltar</a>
    </div>
  </div>

  <%- include('fragments/footer') %>